 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');

 *,
 *::before,
 *::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 :root {
     --primary-color: #7552a0;
     --secondary-color: #43377f;
     --border-color: #7552a0;
     --text-color: #ffffff;
     /* Added a default text color */
 }

 body {
     font-family: 'Poppins', sans-serif;
     min-height: 100vh;
     background: url(./img/parpul.jpg) no-repeat;
     background-position: center;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .hidden {
     display: none;
 }

 .container {
     width: 300px;
     padding: 30px;
     border-radius: 10px;
     backdrop-filter: blur(20px);
 }

 @media only screen and (min-width: 768px) {
     .container {
         width: 400px;
     }
 }

 h1 {
     text-align: center;
     color: var(--text-color);
     font-size: 30px;
     margin-bottom: 16px;
 }

 .display {
     height: 200px;
     border: 2px var(--border-color) solid;
     border-radius: 5px;
     margin-bottom: 25px;
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: end;
 }

 .buttons {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 20px;
 }

 .display .expression {
     font-size: 36px;
     padding: 0 10px;
 }

 .display .result {
     font-size: 46px;
     font-weight: 500;
     padding: 0 10px;
 }

 .display .result::before {
     content: '=';
     padding-right: 5px;
 }

 .button {
     border: 2px solid var(--primary-color);
     border-radius: 100px;
     width: 45px;
     height: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
     font-size: 20px;
     cursor: pointer;
     user-select: none;
     transition: all 0.2s ease-in;
 }

 @media only screen and (min-width: 768px) {
     .button {
         width: 60px;
         height: 60px;
         font-size: 24px;
     }
 }

 .button:hover {
     background-color: var(--secondary-color);
     color: var(--text-color);
     border-color: transparent;
 }

 .button:nth-child(1),
 .button:nth-child(2),
 .button:nth-child(3),
 .button:nth-child(4),
 .button:nth-child(8),
 .button:nth-child(12),
 .button:nth-child(16),
 .button:nth-child(20) {
     border: none;
     background-color: var(--primary-color);
     font-weight: 600;
 }

 .button:nth-child(1):hover,
 .button:nth-child(2):hover,
 .button:nth-child(3):hover,
 .button:nth-child(4):hover,
 .button:nth-child(8):hover,
 .button:nth-child(12):hover,
 .button:nth-child(16):hover,
 .button:nth-child(20):hover {
     opacity: 0.85;
 }